numpy 
pandas 
clip 
# git+https://github.com/openai/CLIP.git
torch 
pillow 
pillow_heif 
matplotlib 
tqdm 
torchvision 
insightface 
scikit-learn 
uuid
typing 
chromadb
onnxruntime
rocksdict
faiss-cpu
geopy